USE [master]
GO
/****** Object:  Database [SushiDB]    Script Date: 19-Dec-24 8:01:52 PM ******/
CREATE DATABASE [SushiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SushiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SushiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SushiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SushiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SushiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SushiDB]
GO
/****** Object:  Table [dbo].[BANAN]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANAN](
	[SOBAN] [varchar](3) NOT NULL,
	[MACHINHANH] [char](10) NOT NULL,
	[VITRI] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
	[SONGUOITOIDA] [int] NOT NULL,
 CONSTRAINT [PK_BANAN] PRIMARY KEY CLUSTERED 
(
	[SOBAN] ASC,
	[MACHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABOPHAN] [char](10) NOT NULL,
	[MACHINHANH] [char](10) NOT NULL,
	[TENBOPHAN] [nvarchar](50) NOT NULL,
	[LUONG] [float] NOT NULL,
	[QUANLYBOPHAN] [char](10) NULL,
 CONSTRAINT [PK_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[MABOPHAN] ASC,
	[MACHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACHINHANH] [char](10) NOT NULL,
	[TENCHINHANH] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[KHUVUC] [nvarchar](50) NOT NULL,
	[THOIGIANMOCUA] [time](7) NOT NULL,
	[THOIGIANDONGCUA] [time](7) NOT NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [varchar](100) NULL,
	[COBAIDOXE] [bit] NOT NULL,
	[NHANVIENQUANLY] [char](10) NULL,
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MACHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDATCHO]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATCHO](
	[SOBAN] [varchar](3) NOT NULL,
	[MACHINHANH] [char](10) NOT NULL,
	[MADATCHO] [char](10) NOT NULL,
	[SOLUONGKHACH] [int] NULL,
 CONSTRAINT [PK_CHITIETDATCHO] PRIMARY KEY CLUSTERED 
(
	[SOBAN] ASC,
	[MACHINHANH] ASC,
	[MADATCHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKHACHHANG]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKHACHHANG](
	[MAKHACHHANG] [char](10) NOT NULL,
	[MATHE] [char](10) NOT NULL,
	[NGAYDK] [date] NOT NULL,
	[DIEMTICHLUY] [int] NOT NULL,
	[NGAYNANGHANG] [date] NOT NULL,
	[TRANGTHAITAIKHOAN] [nvarchar](50) NOT NULL,
	[NHANVIENTAOLAP] [char](10) NOT NULL,
 CONSTRAINT [PK_CHITIETKHACHHAHG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC,
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETMONAN]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETMONAN](
	[MACTMON] [char](10) NOT NULL,
	[MAMON] [char](10) NULL,
	[MACOMBO] [char](10) NULL,
	[SOLUONG] [int] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
	[DONGIATONG] [float] NULL,
	[MADONDATMON] [char](10) NULL,
 CONSTRAINT [PK_CHITIETMONAN] PRIMARY KEY CLUSTERED 
(
	[MACTMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBOMONAN]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBOMONAN](
	[MACOMBO] [char](10) NOT NULL,
	[TENCOMBO] [nvarchar](50) NOT NULL,
	[MOTACOMBO] [nvarchar](max) NULL,
	[DONGIACOMBO] [float] NOT NULL,
 CONSTRAINT [PK_COMBOMONAN] PRIMARY KEY CLUSTERED 
(
	[MACOMBO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MADANHGIA] [char](10) NOT NULL,
	[DIEMPHUCVU] [int] NOT NULL,
	[DIEMVITRICHINHANH] [int] NOT NULL,
	[DIEMKHONGGIAN] [int] NOT NULL,
	[BINHLUAN] [nvarchar](max) NULL,
	[KHACHHANGDANHGIA] [char](10) NULL,
	[CHINHANH] [char](10) NOT NULL,
	[NHANVIEN] [char](10) NULL,
	[MADON] [char](10) NULL,
 CONSTRAINT [PK_DANHGIA] PRIMARY KEY CLUSTERED 
(
	[MADANHGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIAMONAN]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIAMONAN](
	[MADANHGIA] [char](10) NOT NULL,
	[MAMON] [char](10) NOT NULL,
	[DIEMCHATLUONGMONAN] [int] NOT NULL,
	[DIEMGIACA] [int] NOT NULL,
 CONSTRAINT [PK_DANHGIAMONAN] PRIMARY KEY CLUSTERED 
(
	[MADANHGIA] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATCHO]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATCHO](
	[MADATCHO] [char](10) NOT NULL,
	[NGAYDEN] [date] NOT NULL,
	[GIODEN] [time](7) NOT NULL,
	[SOLUONGKHACH] [int] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
	[SDT] [char](10) NOT NULL,
 CONSTRAINT [PK_DATCHO] PRIMARY KEY CLUSTERED 
(
	[MADATCHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATHANGTAICHO]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANGTAICHO](
	[MADHTAICHO] [char](10) NOT NULL,
	[MACHINHANH] [char](10) NULL,
	[SOBAN] [varchar](3) NULL,
 CONSTRAINT [PK_DATHANGTAICHO] PRIMARY KEY CLUSTERED 
(
	[MADHTAICHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATHANGTRUCTUYEN]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANGTRUCTUYEN](
	[MADHTRUCTUYEN] [char](10) NOT NULL,
	[THOIGIANGIAO] [time](7) NOT NULL,
	[DIACHIGIAO] [nvarchar](100) NOT NULL,
	[TRANGTHAIGIAO] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DATHANGTRUCTUYEN] PRIMARY KEY CLUSTERED 
(
	[MADHTRUCTUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATMON]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATMON](
	[MADON] [char](10) NOT NULL,
	[GIODAT] [time](7) NOT NULL,
	[NGAYDAT] [date] NOT NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
	[LOAIDONDATMON] [nvarchar](20) NOT NULL,
	[HOADONLIENQUAN] [char](10) NULL,
	[KHACHHANGDAT] [char](10) NULL,
	[MADATCHO] [char](10) NOT NULL,
	[CHINHANHDAT] [char](10) NOT NULL,
	[NHANVIENTAOLAP] [char](10) NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_DONDATMON] PRIMARY KEY CLUSTERED 
(
	[MADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [char](10) NOT NULL,
	[GIOLAP] [time](7) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[VAT] [float] NULL,
	[TIENKHACHDUA] [float] NOT NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
	[PHUONGTHUC] [nvarchar](20) NOT NULL,
	[MAKHACHHANG] [char](10) NULL,
	[MACHINHANH] [char](10) NULL,
	[TONGTIENTRUOCKM] [float] NULL,
	[TONGTIENSAUKM] [float] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [char](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [varchar](100) NULL,
	[CCCD] [varchar](20) NULL,
 CONSTRAINT [PK_KHACHHANNG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKHUYENMAI] [char](10) NOT NULL,
	[THONGTINKHUYENMAI] [nvarchar](max) NULL,
	[LOAIKHUYENMAI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAIKHACHHANG]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAIKHACHHANG](
	[MAKHUYENMAI] [char](10) NOT NULL,
	[TRANGTHAIDUNG] [bit] NOT NULL,
	[MAKHACHHANG] [char](10) NOT NULL,
	[NGAYBATDAU] [date] NOT NULL,
	[NGAYKETTHUC] [date] NOT NULL,
	[GIATRITOITHIEU] [float] NOT NULL,
	[LUONGKMTIEN] [float] NOT NULL,
 CONSTRAINT [PK_KHUYENMAIKHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAITHETHANHVIEN]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAITHETHANHVIEN](
	[MAKHUYENMAI] [char](10) NOT NULL,
	[MATHE] [char](10) NULL,
	[LUONGKMPHANTRAM] [float] NOT NULL,
 CONSTRAINT [PK_KHUYENMAITHETHANHVIEN] PRIMARY KEY CLUSTERED 
(
	[MAKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSULAMVIEC]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSULAMVIEC](
	[MANHANVIEN] [char](10) NOT NULL,
	[MABOPHAN] [char](10) NOT NULL,
	[MACHINHANH] [char](10) NOT NULL,
	[NGAYVAOLAM] [date] NOT NULL,
	[NGAYNGHIVIEC] [date] NULL,
	[HESOLUONG] [float] NOT NULL,
 CONSTRAINT [PK_LICHSULAMVIEC] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC,
	[MABOPHAN] ASC,
	[MACHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN](
	[MAMON] [char](10) NOT NULL,
	[TENMON] [nvarchar](50) NOT NULL,
	[GIAHIENTAI] [float] NOT NULL,
	[DANHMUC] [nvarchar](50) NOT NULL,
	[TRANGTHAIPHUCVU] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MONAN] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONAN_COMBOMONAN]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN_COMBOMONAN](
	[MACOMBO] [char](10) NOT NULL,
	[MAMON] [char](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_MONAN_COMBOMONAN] PRIMARY KEY CLUSTERED 
(
	[MACOMBO] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [char](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](6) NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [varchar](100) NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[CHINHANHLAMVIEC] [char](10) NULL,
	[LUONGHIENTAI] [float] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THETHANHVIEN]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THETHANHVIEN](
	[MATHE] [char](10) NOT NULL,
	[LOAITHE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THETHANHVIEN] PRIMARY KEY CLUSTERED 
(
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUYCAP]    Script Date: 19-Dec-24 8:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUYCAP](
	[MATRUYCAP] [char](10) NOT NULL,
	[MADANHGIA] [char](10) NOT NULL,
	[THOIDIEMBATDAU] [date] NOT NULL,
	[THOIDIEMKETTHUC] [date] NOT NULL,
 CONSTRAINT [PK_TRUYCAP] PRIMARY KEY CLUSTERED 
(
	[MATRUYCAP] ASC,
	[MADANHGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHINHANH] ([MACHINHANH], [TENCHINHANH], [DIACHI], [KHUVUC], [THOIGIANMOCUA], [THOIGIANDONGCUA], [SDT], [EMAIL], [COBAIDOXE], [NHANVIENQUANLY]) VALUES (N'CN00000001', N'Smith Woodward and Proctor', N'083 Nicole Key Andersonview MS 35802', N'District 5', CAST(N'08:00:00' AS Time), CAST(N'20:00:00' AS Time), N'+1-633-272', N'joseph04@example.com', 0, N'NV00000063')
INSERT [dbo].[CHINHANH] ([MACHINHANH], [TENCHINHANH], [DIACHI], [KHUVUC], [THOIGIANMOCUA], [THOIGIANDONGCUA], [SDT], [EMAIL], [COBAIDOXE], [NHANVIENQUANLY]) VALUES (N'CN00000002', N'Carter Fox and Powers', N'9120 Jones Light Apt. 068 Tuckerfurt SD 02021', N'District 11', CAST(N'08:00:00' AS Time), CAST(N'20:00:00' AS Time), N'(655)217-7', N'oblake@example.net', 1, N'NV00000063')
INSERT [dbo].[CHINHANH] ([MACHINHANH], [TENCHINHANH], [DIACHI], [KHUVUC], [THOIGIANMOCUA], [THOIGIANDONGCUA], [SDT], [EMAIL], [COBAIDOXE], [NHANVIENQUANLY]) VALUES (N'CN00000003', N'Clark-Jackson', N'221 Johnson Ridge Suite 968 Franktown VI 85221', N'District 9', CAST(N'08:00:00' AS Time), CAST(N'20:00:00' AS Time), N'971-589-23', N'otorres@example.org', 0, N'NV00000004')
GO
INSERT [dbo].[CHITIETMONAN] ([MACTMON], [MAMON], [MACOMBO], [SOLUONG], [GHICHU], [DONGIATONG], [MADONDATMON]) VALUES (N'CTMON00001', N'MON0000078', N'COMBO00022', 7, N'Behind wear effect fill senior cell pay.', 4088738.25, N'DONDAT0001')
INSERT [dbo].[CHITIETMONAN] ([MACTMON], [MAMON], [MACOMBO], [SOLUONG], [GHICHU], [DONGIATONG], [MADONDATMON]) VALUES (N'CTMON00002', N'MON0000017', N'COMBO00006', 3, N'Each offer language everything.', 452583.21875, N'DONDAT0002')
INSERT [dbo].[CHITIETMONAN] ([MACTMON], [MAMON], [MACOMBO], [SOLUONG], [GHICHU], [DONGIATONG], [MADONDATMON]) VALUES (N'CTMON00003', N'MON0000143', N'COMBO00042', 1, N'Bed story main pretty black we.', 279072.53125, N'DONDAT0003')
GO
INSERT [dbo].[COMBOMONAN] ([MACOMBO], [TENCOMBO], [MOTACOMBO], [DONGIACOMBO]) VALUES (N'COMBO00001', N'Combo Certainly Them', N'"Pay similar benefit service music expect. Stuff central cultural. Degree the sell upon.
Culture magazine team stuff anything."', 622863.75)
INSERT [dbo].[COMBOMONAN] ([MACOMBO], [TENCOMBO], [MOTACOMBO], [DONGIACOMBO]) VALUES (N'COMBO00002', N'Combo Trial History', N'"Drive part price official beyond sort another. Economic employee brother decision research. Hand anyone design hospital guess begin central.
Challenge oil camera rise."', 82249.46875)
INSERT [dbo].[COMBOMONAN] ([MACOMBO], [TENCOMBO], [MOTACOMBO], [DONGIACOMBO]) VALUES (N'COMBO00003', N'Combo Community Too', N'Strong miss operation chair reason. Civil data education section report hold consumer. Fight prevent rock its.', 684951.875)
GO
INSERT [dbo].[DATCHO] ([MADATCHO], [NGAYDEN], [GIODEN], [SOLUONGKHACH], [GHICHU], [SDT]) VALUES (N'DC00000001', CAST(N'2024-01-01' AS Date), CAST(N'18:39:31' AS Time), 15, N'It method war right total.', N'594.492.54')
INSERT [dbo].[DATCHO] ([MADATCHO], [NGAYDEN], [GIODEN], [SOLUONGKHACH], [GHICHU], [SDT]) VALUES (N'DC00000002', CAST(N'2024-02-22' AS Date), CAST(N'17:38:31' AS Time), 11, N'Both stage young color.', N'552.548.61')
INSERT [dbo].[DATCHO] ([MADATCHO], [NGAYDEN], [GIODEN], [SOLUONGKHACH], [GHICHU], [SDT]) VALUES (N'DC00000003', CAST(N'2024-09-21' AS Date), CAST(N'16:37:31' AS Time), 10, N'Choose cost city above own decision.', N'(207)828-4')
GO
INSERT [dbo].[DONDATMON] ([MADON], [GIODAT], [NGAYDAT], [TRANGTHAI], [LOAIDONDATMON], [HOADONLIENQUAN], [KHACHHANGDAT], [MADATCHO], [CHINHANHDAT], [NHANVIENTAOLAP], [THANHTIEN]) VALUES (N'DONDAT0001', CAST(N'15:33:00' AS Time), CAST(N'2024-04-12' AS Date), N'Processing', N'Online order', N'HD00000102', N'KH00000102', N'DC00000102', N'CN00000003', N'NV00000003', 4088738.25)
INSERT [dbo].[DONDATMON] ([MADON], [GIODAT], [NGAYDAT], [TRANGTHAI], [LOAIDONDATMON], [HOADONLIENQUAN], [KHACHHANGDAT], [MADATCHO], [CHINHANHDAT], [NHANVIENTAOLAP], [THANHTIEN]) VALUES (N'DONDAT0002', CAST(N'14:51:00' AS Time), CAST(N'2024-02-15' AS Date), N'Processing', N'In-store order', N'HD00000111', N'KH00000111', N'DC00000111', N'CN00000012', N'NV00000012', 452583.21875)
INSERT [dbo].[DONDATMON] ([MADON], [GIODAT], [NGAYDAT], [TRANGTHAI], [LOAIDONDATMON], [HOADONLIENQUAN], [KHACHHANGDAT], [MADATCHO], [CHINHANHDAT], [NHANVIENTAOLAP], [THANHTIEN]) VALUES (N'DONDAT0003', CAST(N'10:34:00' AS Time), CAST(N'2024-01-23' AS Date), N'Processing', N'In-store order', N'HD00000033', N'KH00000033', N'DC00000033', N'CN00000034', N'NV00000034', 279072.53125)
GO
INSERT [dbo].[HOADON] ([MAHOADON], [GIOLAP], [NGAYLAP], [VAT], [TIENKHACHDUA], [TRANGTHAI], [PHUONGTHUC], [MAKHACHHANG], [MACHINHANH], [TONGTIENTRUOCKM], [TONGTIENSAUKM]) VALUES (N'HD00000001', CAST(N'00:00:00' AS Time), CAST(N'2024-10-24' AS Date), 0.10000000149011612, 1029986.4375, N'Unpaid', N'Cash', N'KH00000099', N'CN00000036', 1011778.0625, 985289.375)
INSERT [dbo].[HOADON] ([MAHOADON], [GIOLAP], [NGAYLAP], [VAT], [TIENKHACHDUA], [TRANGTHAI], [PHUONGTHUC], [MAKHACHHANG], [MACHINHANH], [TONGTIENTRUOCKM], [TONGTIENSAUKM]) VALUES (N'HD00000002', CAST(N'00:00:00' AS Time), CAST(N'2024-10-07' AS Date), 0.10000000149011612, 1001250.6875, N'Unpaid', N'Credit card', N'KH00000127', N'CN00000040', 982444.6875, 868560.125)
INSERT [dbo].[HOADON] ([MAHOADON], [GIOLAP], [NGAYLAP], [VAT], [TIENKHACHDUA], [TRANGTHAI], [PHUONGTHUC], [MAKHACHHANG], [MACHINHANH], [TONGTIENTRUOCKM], [TONGTIENSAUKM]) VALUES (N'HD00000003', CAST(N'00:00:00' AS Time), CAST(N'2024-07-15' AS Date), 0.10000000149011612, 236480.40625, N'Unpaid', N'Credit card', N'KH00000192', N'CN00000005', 226369.875, 200789.234375)
GO
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [HOTEN], [SDT], [EMAIL], [CCCD]) VALUES (N'KH00000001', N'Steven Wagner', N'0389536968', N'monica63@example.com', N'577221515156')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [HOTEN], [SDT], [EMAIL], [CCCD]) VALUES (N'KH00000002', N'Brian Chang', N'0918871350', N'christina47@example.com', N'507377290536')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [HOTEN], [SDT], [EMAIL], [CCCD]) VALUES (N'KH00000003', N'Rachel Harris', N'0820544365', N'brownkevin@example.org', N'668749131357')
GO
INSERT [dbo].[MONAN] ([MAMON], [TENMON], [GIAHIENTAI], [DANHMUC], [TRANGTHAIPHUCVU]) VALUES (N'MON0000001', N'Thing Sashimi', 351668.90625, N'Tempura', N'Out of stock')
INSERT [dbo].[MONAN] ([MAMON], [TENMON], [GIAHIENTAI], [DANHMUC], [TRANGTHAIPHUCVU]) VALUES (N'MON0000002', N'Save Sashimi', 90801.96875, N'Tempura', N'Discontinued')
INSERT [dbo].[MONAN] ([MAMON], [TENMON], [GIAHIENTAI], [DANHMUC], [TRANGTHAIPHUCVU]) VALUES (N'MON0000003', N'Company Ramen', 189780.625, N'Tempura', N'Available')
GO
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [DIACHI], [CHINHANHLAMVIEC], [LUONGHIENTAI]) VALUES (N'NV00000001', N'Karen Jones', CAST(N'1982-06-04' AS Date), N'MALE', N'767.206.95', N'oliverjill@example.com', N'5028 West Point South Howard NE 13212', N'CN00000029', 9425241)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [DIACHI], [CHINHANHLAMVIEC], [LUONGHIENTAI]) VALUES (N'NV00000002', N'Jessica Huff', CAST(N'2001-11-28' AS Date), N'FEMALE', N'459-678-45', N'fcarter@example.org', N'67046 Rodriguez Garden Apt. 813 Phillipsburgh OH 33933', N'CN00000103', 5725577)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [NGAYSINH], [GIOITINH], [SDT], [EMAIL], [DIACHI], [CHINHANHLAMVIEC], [LUONGHIENTAI]) VALUES (N'NV00000003', N'John Smith', CAST(N'1990-12-06' AS Date), N'FEMALE', N'+1-593-236', N'hwilson@example.org', N'41701 Gonzalez Square Apt. 040 South James GU 96972', N'CN00000112', 8523367)
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0.08)) FOR [VAT]
GO
ALTER TABLE [dbo].[BANAN]  WITH CHECK ADD CHECK  ((NOT [SOBAN] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[BANAN]  WITH CHECK ADD CHECK  (([TRANGTHAI]=N'Unavailable' OR [TRANGTHAI]=N'In use' OR [TRANGTHAI]=N'Reserved' OR [TRANGTHAI]=N'Available'))
GO
ALTER TABLE [dbo].[CHINHANH]  WITH CHECK ADD CHECK  (([KHUVUC]=N'Can Gio District' OR [KHUVUC]=N'Nha Be District' OR [KHUVUC]=N'Hoc Mon District' OR [KHUVUC]=N'Cu Chi District' OR [KHUVUC]=N'Binh Chanh District' OR [KHUVUC]=N'Binh Tan District' OR [KHUVUC]=N'Tan Phu District' OR [KHUVUC]=N'Tan Binh District' OR [KHUVUC]=N'Binh Thanh District' OR [KHUVUC]=N'Phu Nhuan District' OR [KHUVUC]=N'Go Vap District' OR [KHUVUC]=N'District 12' OR [KHUVUC]=N'District 11' OR [KHUVUC]=N'District 10' OR [KHUVUC]=N'District 9' OR [KHUVUC]=N'District 8' OR [KHUVUC]=N'District 7' OR [KHUVUC]=N'District 6' OR [KHUVUC]=N'District 5' OR [KHUVUC]=N'District 4' OR [KHUVUC]=N'District 3' OR [KHUVUC]=N'District 2' OR [KHUVUC]=N'District 1'))
GO
ALTER TABLE [dbo].[CHITIETKHACHHANG]  WITH CHECK ADD CHECK  (([DIEMTICHLUY]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETKHACHHANG]  WITH CHECK ADD CHECK  (([TRANGTHAITAIKHOAN]=N'Inactive' OR [TRANGTHAITAIKHOAN]=N'Deleted' OR [TRANGTHAITAIKHOAN]=N'Active'))
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD CHECK  (([DIEMKHONGGIAN]>=(1) AND [DIEMKHONGGIAN]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD CHECK  (([DIEMPHUCVU]>=(1) AND [DIEMPHUCVU]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD CHECK  (([DIEMVITRICHINHANH]>=(1) AND [DIEMVITRICHINHANH]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIAMONAN]  WITH CHECK ADD CHECK  (([DIEMCHATLUONGMONAN]>=(1) AND [DIEMCHATLUONGMONAN]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIAMONAN]  WITH CHECK ADD CHECK  (([DIEMGIACA]>=(1) AND [DIEMGIACA]<=(5)))
GO
ALTER TABLE [dbo].[DATHANGTRUCTUYEN]  WITH CHECK ADD CHECK  (([TRANGTHAIGIAO]=N'Cancelled' OR [TRANGTHAIGIAO]=N'Delivered' OR [TRANGTHAIGIAO]=N'Processing'))
GO
ALTER TABLE [dbo].[DONDATMON]  WITH CHECK ADD CHECK  (([LOAIDONDATMON]=N'In-store order' OR [LOAIDONDATMON]=N'Online order'))
GO
ALTER TABLE [dbo].[DONDATMON]  WITH CHECK ADD CHECK  (([TRANGTHAI]=N'Paid' OR [TRANGTHAI]=N'Successful' OR [TRANGTHAI]=N'Processing' OR [TRANGTHAI]=N'Unconfirmed'))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([PHUONGTHUC]=N'Credit card' OR [PHUONGTHUC]=N'Cash' OR [PHUONGTHUC]=N'Bank transfer'))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([TRANGTHAI]=N'Cancelled' OR [TRANGTHAI]=N'Paid' OR [TRANGTHAI]=N'Unpaid'))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  ((NOT [CCCD] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD CHECK  (([TRANGTHAIPHUCVU]=N'Discontinued' OR [TRANGTHAIPHUCVU]=N'Out of stock' OR [TRANGTHAIPHUCVU]=N'Available'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]='FEMALE' OR [GIOITINH]='MALE'))
GO
ALTER TABLE [dbo].[THETHANHVIEN]  WITH CHECK ADD CHECK  (([LOAITHE]=N'Gold' OR [LOAITHE]=N'Silver' OR [LOAITHE]=N'Membership'))
GO
USE [master]
GO
