USE [master]
GO
/****** Object:  Database [SushiDB]    Script Date: 2024/12/29 15:10:41 ******/
CREATE DATABASE [SushiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SushiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SushiDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SushiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SushiDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SushiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SushiDB]
GO
/****** Object:  UserDefinedTableType [dbo].[DanhSachMonAn]    Script Date: 2024/12/29 15:10:41 ******/
CREATE TYPE [dbo].[DanhSachMonAn] AS TABLE(
	[MaMon] [char](10) NULL,
	[SoLuong] [int] NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[ChkValidEmail]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Phải có số điện thoại hợp lệ và email để liên lạc hoặc xác nhận các đơn hàng trực tuyến. 
CREATE FUNCTION [dbo].[ChkValidEmail](@EMAIL varchar(100))RETURNS bit as
BEGIN     
	DECLARE @bitEmailVal as Bit
	DECLARE @EmailText varchar(100)

	SET @EmailText=ltrim(rtrim(isnull(@EMAIL,'')))

	SET @bitEmailVal = case when @EmailText = '' then 0
							when @EmailText like '% %' then 0
							when @EmailText like ('%["(),:;<>\]%') then 0
							when substring(@EmailText,charindex('@',@EmailText),len(@EmailText)) like ('%[!#$%&*+/=?^`_{|]%') then 0
							when (left(@EmailText,1) like ('[-_.+]') or right(@EmailText,1) like ('[-_.+]')) then 0                                                                                    
							when (@EmailText like '%[%' or @EmailText like '%]%') then 0
							when @EmailText LIKE '%@%@%' then 0
							when @EmailText NOT LIKE '_%@_%._%' then 0
							else 1 
						end
	RETURN @bitEmailVal
END
GO
/****** Object:  UserDefinedFunction [dbo].[ChkValidPhone]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ChkValidPhone](@SDT varchar(10))RETURNS BIT AS
BEGIN
	DECLARE @BITPHONEVAL AS BIT

	IF LEN(@SDT)=10 AND @SDT NOT LIKE '%[^0-9]%'
	BEGIN
		IF @SDT LIKE '086%'
		OR @SDT LIKE '096%'
		OR @SDT LIKE '097%'
		OR @SDT LIKE '098%'
		OR @SDT LIKE '032%'
		OR @SDT LIKE '033%'
		OR @SDT LIKE '034%'
		OR @SDT LIKE '035%'
		OR @SDT LIKE '036%'
		OR @SDT LIKE '037%'
		OR @SDT LIKE '038%'
		OR @SDT LIKE '039%'
		OR @SDT LIKE '088%'
		OR @SDT LIKE '091%'
		OR @SDT LIKE '094%'
		OR @SDT LIKE '083%'
		OR @SDT LIKE '084%'
		OR @SDT LIKE '085%'
		OR @SDT LIKE '081%'
		OR @SDT LIKE '082%'
		OR @SDT LIKE '089%'
		OR @SDT LIKE '090%'
		OR @SDT LIKE '093%'
		OR @SDT LIKE '070%'
		OR @SDT LIKE '079%'
		OR @SDT LIKE '078%'
		OR @SDT LIKE '077%'
		OR @SDT LIKE '076%'
		OR @SDT LIKE '092%'
		OR @SDT LIKE '056%'
		OR @SDT LIKE '058%'
		OR @SDT LIKE '099%'
		OR @SDT LIKE '059%'
			SET @BITPHONEVAL = 1
		ELSE
			SET @BITPHONEVAL = 0
	END
	ELSE
		SET @BITPHONEVAL = 0

	RETURN @BITPHONEVAL
END
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](20) NOT NULL,
	[PASSWORD] [nvarchar](max) NOT NULL,
	[ROLE] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANAN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANAN](
	[SOBAN] [varchar](3) NOT NULL,
	[MACHINHANH] [char](10) NOT NULL,
	[VITRI] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
	[SONGUOITOIDA] [int] NOT NULL,
 CONSTRAINT [PK_BANAN] PRIMARY KEY CLUSTERED 
(
	[SOBAN] ASC,
	[MACHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABOPHAN] [char](10) NOT NULL,
	[MACHINHANH] [char](10) NOT NULL,
	[TENBOPHAN] [nvarchar](50) NOT NULL,
	[LUONG] [float] NOT NULL,
	[QUANLYBOPHAN] [char](10) NULL,
 CONSTRAINT [PK_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[MABOPHAN] ASC,
	[MACHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BOPHAN_QUANLYBOPHAN] UNIQUE NONCLUSTERED 
(
	[QUANLYBOPHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACHINHANH] [char](10) NOT NULL,
	[TENCHINHANH] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[KHUVUC] [nvarchar](50) NOT NULL,
	[THOIGIANMOCUA] [time](7) NOT NULL,
	[THOIGIANDONGCUA] [time](7) NOT NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [varchar](100) NULL,
	[COBAIDOXE] [bit] NOT NULL,
	[NHANVIENQUANLY] [char](10) NULL,
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MACHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CHINHANH_DIACHI] UNIQUE NONCLUSTERED 
(
	[DIACHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CHINHANH_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDATCHO]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATCHO](
	[SOBAN] [varchar](3) NOT NULL,
	[MACHINHANH] [char](10) NOT NULL,
	[MADATCHO] [char](10) NOT NULL,
	[SOLUONGKHACH] [int] NULL,
 CONSTRAINT [PK_CHITIETDATCHO] PRIMARY KEY CLUSTERED 
(
	[SOBAN] ASC,
	[MACHINHANH] ASC,
	[MADATCHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKHACHHANG]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKHACHHANG](
	[MAKHACHHANG] [char](10) NOT NULL,
	[MATHE] [char](10) NOT NULL,
	[NGAYDK] [date] NOT NULL,
	[DIEMTICHLUY] [int] NOT NULL,
	[NGAYNANGHANG] [date] NOT NULL,
	[TRANGTHAITAIKHOAN] [nvarchar](50) NOT NULL,
	[NHANVIENTAOLAP] [char](10) NOT NULL,
 CONSTRAINT [PK_CHITIETKHACHHAHG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC,
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETMONAN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETMONAN](
	[MACTMON] [char](10) NOT NULL,
	[MAMENU] [char](10) NULL,
	[SOLUONG] [int] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
	[DONGIATONG] [float] NULL,
	[MADONDATMON] [char](10) NULL,
 CONSTRAINT [PK_CHITIETMONAN] PRIMARY KEY CLUSTERED 
(
	[MACTMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBOMONAN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBOMONAN](
	[MACOMBO] [char](10) NOT NULL,
	[TENCOMBO] [nvarchar](50) NOT NULL,
	[MOTACOMBO] [nvarchar](max) NULL,
 CONSTRAINT [PK_COMBOMONAN] PRIMARY KEY CLUSTERED 
(
	[MACOMBO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MADANHGIA] [char](10) NOT NULL,
	[DIEMPHUCVU] [int] NOT NULL,
	[DIEMVITRICHINHANH] [int] NOT NULL,
	[DIEMKHONGGIAN] [int] NOT NULL,
	[BINHLUAN] [nvarchar](max) NULL,
	[KHACHHANGDANHGIA] [char](10) NULL,
	[CHINHANH] [char](10) NOT NULL,
	[NHANVIEN] [char](10) NULL,
	[MADON] [char](10) NULL,
 CONSTRAINT [PK_DANHGIA] PRIMARY KEY CLUSTERED 
(
	[MADANHGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIAMONAN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIAMONAN](
	[MADANHGIA] [char](10) NOT NULL,
	[MAMON] [char](10) NOT NULL,
	[DIEMCHATLUONGMONAN] [int] NOT NULL,
	[DIEMGIACA] [int] NOT NULL,
 CONSTRAINT [PK_DANHGIAMONAN] PRIMARY KEY CLUSTERED 
(
	[MADANHGIA] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATCHO]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATCHO](
	[MADATCHO] [char](10) NOT NULL,
	[NGAYDEN] [date] NOT NULL,
	[GIODEN] [time](7) NOT NULL,
	[SOLUONGKHACH] [int] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
	[SDT] [char](10) NOT NULL,
 CONSTRAINT [PK_DATCHO] PRIMARY KEY CLUSTERED 
(
	[MADATCHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATHANGTAICHO]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANGTAICHO](
	[MADHTAICHO] [char](10) NOT NULL,
	[MACHINHANH] [char](10) NULL,
	[SOBAN] [varchar](3) NULL,
 CONSTRAINT [PK_DATHANGTAICHO] PRIMARY KEY CLUSTERED 
(
	[MADHTAICHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATHANGTRUCTUYEN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANGTRUCTUYEN](
	[MADHTRUCTUYEN] [char](10) NOT NULL,
	[THOIGIANGIAO] [time](7) NOT NULL,
	[DIACHIGIAO] [nvarchar](100) NOT NULL,
	[TRANGTHAIGIAO] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DATHANGTRUCTUYEN] PRIMARY KEY CLUSTERED 
(
	[MADHTRUCTUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATMON]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATMON](
	[MADON] [char](10) NOT NULL,
	[GIODAT] [time](7) NOT NULL,
	[NGAYDAT] [date] NOT NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
	[LOAIDONDATMON] [nvarchar](20) NOT NULL,
	[HOADONLIENQUAN] [char](10) NULL,
	[KHACHHANGDAT] [char](10) NULL,
	[MADATCHO] [char](10) NULL,
	[CHINHANHDAT] [char](10) NOT NULL,
	[NHANVIENTAOLAP] [char](10) NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_DONDATMON] PRIMARY KEY CLUSTERED 
(
	[MADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [char](10) NOT NULL,
	[GIOLAP] [time](7) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[VAT] [float] NULL,
	[TIENKHACHDUA] [float] NOT NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
	[PHUONGTHUC] [nvarchar](20) NOT NULL,
	[MAKHACHHANG] [char](10) NULL,
	[MACHINHANH] [char](10) NULL,
	[TONGTIENTRUOCKM] [float] NULL,
	[TONGTIENSAUKM] [float] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [char](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [varchar](100) NULL,
	[CCCD] [varchar](20) NULL,
	[ACCOUNT_ID] [int] NULL,
 CONSTRAINT [PK_KHACHHANNG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKHUYENMAI] [char](10) NOT NULL,
	[THONGTINKHUYENMAI] [nvarchar](max) NULL,
	[LOAIKHUYENMAI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAIKHACHHANG]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAIKHACHHANG](
	[MAKHUYENMAI] [char](10) NOT NULL,
	[TRANGTHAIDUNG] [bit] NOT NULL,
	[MAKHACHHANG] [char](10) NULL,
	[NGAYBATDAU] [date] NOT NULL,
	[NGAYKETTHUC] [date] NOT NULL,
	[GIATRITOITHIEU] [float] NOT NULL,
	[LUONGKMTIEN] [float] NOT NULL,
 CONSTRAINT [PK_KHUYENMAIKHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAITHETHANHVIEN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAITHETHANHVIEN](
	[MAKHUYENMAI] [char](10) NOT NULL,
	[MATHE] [char](10) NULL,
	[LUONGKMPHANTRAM] [float] NOT NULL,
 CONSTRAINT [PK_KHUYENMAITHETHANHVIEN] PRIMARY KEY CLUSTERED 
(
	[MAKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSULAMVIEC]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSULAMVIEC](
	[MANHANVIEN] [char](10) NOT NULL,
	[MABOPHAN] [char](10) NOT NULL,
	[MACHINHANH] [char](10) NOT NULL,
	[NGAYVAOLAM] [date] NOT NULL,
	[NGAYNGHIVIEC] [date] NULL,
	[HESOLUONG] [float] NOT NULL,
 CONSTRAINT [PK_LICHSULAMVIEC] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC,
	[MABOPHAN] ASC,
	[MACHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[MAMENU] [char](10) NOT NULL,
	[MACHINHANH] [char](10) NULL,
	[MAMON] [char](10) NULL,
	[MACOMBO] [char](10) NULL,
	[GIAHIENTAI] [float] NULL,
	[TRANGTHAIPHUCVU] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[MAMENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN](
	[MAMON] [char](10) NOT NULL,
	[TENMON] [nvarchar](50) NOT NULL,
	[DANHMUC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MONAN] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONAN_COMBOMONAN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN_COMBOMONAN](
	[MACOMBO] [char](10) NOT NULL,
	[MAMON] [char](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_MONAN_COMBOMONAN] PRIMARY KEY CLUSTERED 
(
	[MACOMBO] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [char](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](6) NOT NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [varchar](100) NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[CHINHANHLAMVIEC] [char](10) NULL,
	[LUONGHIENTAI] [float] NULL,
	[ACCOUNT_ID] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THETHANHVIEN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THETHANHVIEN](
	[MATHE] [char](10) NOT NULL,
	[LOAITHE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THETHANHVIEN] PRIMARY KEY CLUSTERED 
(
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUYCAP]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUYCAP](
	[MATRUYCAP] [char](10) NOT NULL,
	[MADHTRUCTUYEN] [char](10) NOT NULL,
	[THOIDIEMBATDAU] [date] NOT NULL,
	[THOIDIEMKETTHUC] [date] NOT NULL,
 CONSTRAINT [PK_TRUYCAP] PRIMARY KEY CLUSTERED 
(
	[MATRUYCAP] ASC,
	[MADHTRUCTUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CHITIETKHACHHANG_DIEMTICHLUY]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_CHITIETKHACHHANG_DIEMTICHLUY] ON [dbo].[CHITIETKHACHHANG]
(
	[DIEMTICHLUY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CHITIETKHACHHANG_MAKHACHHANG]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_CHITIETKHACHHANG_MAKHACHHANG] ON [dbo].[CHITIETKHACHHANG]
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CHITIETKHACHHANG_MATHE]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_CHITIETKHACHHANG_MATHE] ON [dbo].[CHITIETKHACHHANG]
(
	[MATHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CHITIETKHACHHANG_NGAYNANGHANG]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_CHITIETKHACHHANG_NGAYNANGHANG] ON [dbo].[CHITIETKHACHHANG]
(
	[NGAYNANGHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CHITIETKHACHHANG_NHANVIENTAOLAP]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_CHITIETKHACHHANG_NHANVIENTAOLAP] ON [dbo].[CHITIETKHACHHANG]
(
	[NHANVIENTAOLAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DANHGIA_DIEMKHONGGIAN]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_DANHGIA_DIEMKHONGGIAN] ON [dbo].[DANHGIA]
(
	[DIEMKHONGGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DANHGIA_DIEMPHUCVU]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_DANHGIA_DIEMPHUCVU] ON [dbo].[DANHGIA]
(
	[DIEMPHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DANHGIA_DIEMVITRICHINHANH]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_DANHGIA_DIEMVITRICHINHANH] ON [dbo].[DANHGIA]
(
	[DIEMVITRICHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DANHGIA_NHANVIEN]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_DANHGIA_NHANVIEN] ON [dbo].[DANHGIA]
(
	[NHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DANHGIA_DIEMCHATLUONGMONAN]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_DANHGIA_DIEMCHATLUONGMONAN] ON [dbo].[DANHGIAMONAN]
(
	[DIEMCHATLUONGMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DANHGIA_DIEMGIACA]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_DANHGIA_DIEMGIACA] ON [dbo].[DANHGIAMONAN]
(
	[DIEMGIACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DONDATMON_HOADONLIENQUAN]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_DONDATMON_HOADONLIENQUAN] ON [dbo].[DONDATMON]
(
	[HOADONLIENQUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DONDATMON_NGAYDAT]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_DONDATMON_NGAYDAT] ON [dbo].[DONDATMON]
(
	[NGAYDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_HOADON_MACHINHANH]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_HOADON_MACHINHANH] ON [dbo].[HOADON]
(
	[MACHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_HOADON_MAKHACHHANG]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_HOADON_MAKHACHHANG] ON [dbo].[HOADON]
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_HOADON_NGAYLAP]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_HOADON_NGAYLAP] ON [dbo].[HOADON]
(
	[NGAYLAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_KHACHHANG_MAKHACHHANG]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_KHACHHANG_MAKHACHHANG] ON [dbo].[KHACHHANG]
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_KHUYENMAIKHACHHANG_MAKHACHHANG]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_KHUYENMAIKHACHHANG_MAKHACHHANG] ON [dbo].[KHUYENMAIKHACHHANG]
(
	[MAKHACHHANG] ASC,
	[LUONGKMTIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_KHUYENMAITHETHANHVIEN_MATHE]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_KHUYENMAITHETHANHVIEN_MATHE] ON [dbo].[KHUYENMAITHETHANHVIEN]
(
	[MATHE] ASC,
	[LUONGKMPHANTRAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_MENU_MAMON]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_MENU_MAMON] ON [dbo].[MENU]
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NHANVIEN_CHINHANHLAMVIEC]    Script Date: 2024/12/29 15:10:41 ******/
CREATE NONCLUSTERED INDEX [IDX_NHANVIEN_CHINHANHLAMVIEC] ON [dbo].[NHANVIEN]
(
	[CHINHANHLAMVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0.08)) FOR [VAT]
GO
ALTER TABLE [dbo].[BANAN]  WITH CHECK ADD  CONSTRAINT [FK_BANAN_MACHINHANH] FOREIGN KEY([MACHINHANH])
REFERENCES [dbo].[CHINHANH] ([MACHINHANH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BANAN] CHECK CONSTRAINT [FK_BANAN_MACHINHANH]
GO
ALTER TABLE [dbo].[BOPHAN]  WITH CHECK ADD  CONSTRAINT [FK_BOPHAN_CHINHANH] FOREIGN KEY([MACHINHANH])
REFERENCES [dbo].[CHINHANH] ([MACHINHANH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOPHAN] CHECK CONSTRAINT [FK_BOPHAN_CHINHANH]
GO
ALTER TABLE [dbo].[BOPHAN]  WITH CHECK ADD  CONSTRAINT [FK_BOPHAN_NHANVIEN] FOREIGN KEY([QUANLYBOPHAN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BOPHAN] CHECK CONSTRAINT [FK_BOPHAN_NHANVIEN]
GO
ALTER TABLE [dbo].[CHINHANH]  WITH CHECK ADD  CONSTRAINT [FK_CHINHANH_NHANVIENQUANLY] FOREIGN KEY([NHANVIENQUANLY])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CHINHANH] CHECK CONSTRAINT [FK_CHINHANH_NHANVIENQUANLY]
GO
ALTER TABLE [dbo].[CHITIETDATCHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATCHO_MADATCHO] FOREIGN KEY([MADATCHO])
REFERENCES [dbo].[DATCHO] ([MADATCHO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDATCHO] CHECK CONSTRAINT [FK_CHITIETDATCHO_MADATCHO]
GO
ALTER TABLE [dbo].[CHITIETDATCHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATCHO_SOBAN_MACHINHANH] FOREIGN KEY([SOBAN], [MACHINHANH])
REFERENCES [dbo].[BANAN] ([SOBAN], [MACHINHANH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDATCHO] CHECK CONSTRAINT [FK_CHITIETDATCHO_SOBAN_MACHINHANH]
GO
ALTER TABLE [dbo].[CHITIETKHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHACHHANG_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[CHITIETKHACHHANG] CHECK CONSTRAINT [FK_CHITIETKHACHHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[CHITIETKHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHACHHANG_NHANVIEN] FOREIGN KEY([NHANVIENTAOLAP])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[CHITIETKHACHHANG] CHECK CONSTRAINT [FK_CHITIETKHACHHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETKHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHACHHANG_THETHANHVIEN] FOREIGN KEY([MATHE])
REFERENCES [dbo].[THETHANHVIEN] ([MATHE])
GO
ALTER TABLE [dbo].[CHITIETKHACHHANG] CHECK CONSTRAINT [FK_CHITIETKHACHHANG_THETHANHVIEN]
GO
ALTER TABLE [dbo].[CHITIETMONAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETMONAN_DONDATMON] FOREIGN KEY([MADONDATMON])
REFERENCES [dbo].[DONDATMON] ([MADON])
GO
ALTER TABLE [dbo].[CHITIETMONAN] CHECK CONSTRAINT [FK_CHITIETMONAN_DONDATMON]
GO
ALTER TABLE [dbo].[CHITIETMONAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETMONAN_MAMENU] FOREIGN KEY([MAMENU])
REFERENCES [dbo].[MENU] ([MAMENU])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETMONAN] CHECK CONSTRAINT [FK_CHITIETMONAN_MAMENU]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_CHINHANH] FOREIGN KEY([CHINHANH])
REFERENCES [dbo].[CHINHANH] ([MACHINHANH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_CHINHANH]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_DONDATMON] FOREIGN KEY([MADON])
REFERENCES [dbo].[DONDATMON] ([MADON])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_DONDATMON]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_KHACHHANG] FOREIGN KEY([KHACHHANGDANHGIA])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_KHACHHANG]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_NHANVIEN] FOREIGN KEY([NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_NHANVIEN]
GO
ALTER TABLE [dbo].[DANHGIAMONAN]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIAMONAN_DANHGIA] FOREIGN KEY([MADANHGIA])
REFERENCES [dbo].[DANHGIA] ([MADANHGIA])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DANHGIAMONAN] CHECK CONSTRAINT [FK_DANHGIAMONAN_DANHGIA]
GO
ALTER TABLE [dbo].[DANHGIAMONAN]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIAMONAN_MONAN] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONAN] ([MAMON])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DANHGIAMONAN] CHECK CONSTRAINT [FK_DANHGIAMONAN_MONAN]
GO
ALTER TABLE [dbo].[DATHANGTAICHO]  WITH CHECK ADD  CONSTRAINT [FK_DATHANGTAICHO_DONDATMON] FOREIGN KEY([MADHTAICHO])
REFERENCES [dbo].[DONDATMON] ([MADON])
GO
ALTER TABLE [dbo].[DATHANGTAICHO] CHECK CONSTRAINT [FK_DATHANGTAICHO_DONDATMON]
GO
ALTER TABLE [dbo].[DATHANGTAICHO]  WITH CHECK ADD  CONSTRAINT [PK_DATHANGTAICHO_BANAN] FOREIGN KEY([SOBAN], [MACHINHANH])
REFERENCES [dbo].[BANAN] ([SOBAN], [MACHINHANH])
GO
ALTER TABLE [dbo].[DATHANGTAICHO] CHECK CONSTRAINT [PK_DATHANGTAICHO_BANAN]
GO
ALTER TABLE [dbo].[DATHANGTRUCTUYEN]  WITH CHECK ADD  CONSTRAINT [FK_DATHANGTRUCTUYEN_DONDATMON] FOREIGN KEY([MADHTRUCTUYEN])
REFERENCES [dbo].[DONDATMON] ([MADON])
GO
ALTER TABLE [dbo].[DATHANGTRUCTUYEN] CHECK CONSTRAINT [FK_DATHANGTRUCTUYEN_DONDATMON]
GO
ALTER TABLE [dbo].[DONDATMON]  WITH CHECK ADD  CONSTRAINT [FK_DONDATMON_CHINHANH] FOREIGN KEY([CHINHANHDAT])
REFERENCES [dbo].[CHINHANH] ([MACHINHANH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONDATMON] CHECK CONSTRAINT [FK_DONDATMON_CHINHANH]
GO
ALTER TABLE [dbo].[DONDATMON]  WITH CHECK ADD  CONSTRAINT [FK_DONDATMON_DATCHO] FOREIGN KEY([MADATCHO])
REFERENCES [dbo].[DATCHO] ([MADATCHO])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DONDATMON] CHECK CONSTRAINT [FK_DONDATMON_DATCHO]
GO
ALTER TABLE [dbo].[DONDATMON]  WITH CHECK ADD  CONSTRAINT [FK_DONDATMON_HOADON] FOREIGN KEY([HOADONLIENQUAN])
REFERENCES [dbo].[HOADON] ([MAHOADON])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DONDATMON] CHECK CONSTRAINT [FK_DONDATMON_HOADON]
GO
ALTER TABLE [dbo].[DONDATMON]  WITH CHECK ADD  CONSTRAINT [FK_DONDATMON_KHACHHANG] FOREIGN KEY([KHACHHANGDAT])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DONDATMON] CHECK CONSTRAINT [FK_DONDATMON_KHACHHANG]
GO
ALTER TABLE [dbo].[DONDATMON]  WITH CHECK ADD  CONSTRAINT [FK_DONDATMON_NHANVIEN] FOREIGN KEY([NHANVIENTAOLAP])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DONDATMON] CHECK CONSTRAINT [FK_DONDATMON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CHINHANH] FOREIGN KEY([MACHINHANH])
REFERENCES [dbo].[CHINHANH] ([MACHINHANH])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_CHINHANH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_ACCOUNT]
GO
ALTER TABLE [dbo].[KHUYENMAIKHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAIKHACHHANG_MAKHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[KHUYENMAIKHACHHANG] CHECK CONSTRAINT [FK_KHUYENMAIKHACHHANG_MAKHACHHANG]
GO
ALTER TABLE [dbo].[KHUYENMAIKHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAIKHACHHANG_MAKHUYENMAI] FOREIGN KEY([MAKHUYENMAI])
REFERENCES [dbo].[KHUYENMAI] ([MAKHUYENMAI])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHUYENMAIKHACHHANG] CHECK CONSTRAINT [FK_KHUYENMAIKHACHHANG_MAKHUYENMAI]
GO
ALTER TABLE [dbo].[KHUYENMAITHETHANHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAITHETHANHVIEN_MAKHUYENMAI] FOREIGN KEY([MAKHUYENMAI])
REFERENCES [dbo].[KHUYENMAI] ([MAKHUYENMAI])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHUYENMAITHETHANHVIEN] CHECK CONSTRAINT [FK_KHUYENMAITHETHANHVIEN_MAKHUYENMAI]
GO
ALTER TABLE [dbo].[KHUYENMAITHETHANHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAITHETHANHVIEN_MATHE] FOREIGN KEY([MATHE])
REFERENCES [dbo].[THETHANHVIEN] ([MATHE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHUYENMAITHETHANHVIEN] CHECK CONSTRAINT [FK_KHUYENMAITHETHANHVIEN_MATHE]
GO
ALTER TABLE [dbo].[LICHSULAMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_LICHSULAMVIEC_BOPHAN] FOREIGN KEY([MABOPHAN], [MACHINHANH])
REFERENCES [dbo].[BOPHAN] ([MABOPHAN], [MACHINHANH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICHSULAMVIEC] CHECK CONSTRAINT [FK_LICHSULAMVIEC_BOPHAN]
GO
ALTER TABLE [dbo].[LICHSULAMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_LICHSULAMVIEC_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LICHSULAMVIEC] CHECK CONSTRAINT [FK_LICHSULAMVIEC_NHANVIEN]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_CHINHANH] FOREIGN KEY([MACHINHANH])
REFERENCES [dbo].[CHINHANH] ([MACHINHANH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_CHINHANH]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_COMBO] FOREIGN KEY([MACOMBO])
REFERENCES [dbo].[COMBOMONAN] ([MACOMBO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_COMBO]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_MONAN] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONAN] ([MAMON])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_MONAN]
GO
ALTER TABLE [dbo].[MONAN_COMBOMONAN]  WITH CHECK ADD  CONSTRAINT [FK_MONAN_COMBOMONAN_MACOMBO] FOREIGN KEY([MACOMBO])
REFERENCES [dbo].[COMBOMONAN] ([MACOMBO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MONAN_COMBOMONAN] CHECK CONSTRAINT [FK_MONAN_COMBOMONAN_MACOMBO]
GO
ALTER TABLE [dbo].[MONAN_COMBOMONAN]  WITH CHECK ADD  CONSTRAINT [FK_MONAN_COMBOMONAN_MAMON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONAN] ([MAMON])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MONAN_COMBOMONAN] CHECK CONSTRAINT [FK_MONAN_COMBOMONAN_MAMON]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_ACCOUNT]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHINHANH] FOREIGN KEY([CHINHANHLAMVIEC])
REFERENCES [dbo].[CHINHANH] ([MACHINHANH])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHINHANH]
GO
ALTER TABLE [dbo].[TRUYCAP]  WITH CHECK ADD  CONSTRAINT [FK_TRUYCAP_MADHTRUCTUYEN] FOREIGN KEY([MADHTRUCTUYEN])
REFERENCES [dbo].[DATHANGTRUCTUYEN] ([MADHTRUCTUYEN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRUYCAP] CHECK CONSTRAINT [FK_TRUYCAP_MADHTRUCTUYEN]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD CHECK  (([ROLE]=N'Department Manager' OR [ROLE]=N'Branch Manager' OR [ROLE]=N'Admin' OR [ROLE]=N'Staff' OR [ROLE]=N'Customer'))
GO
ALTER TABLE [dbo].[BANAN]  WITH CHECK ADD CHECK  ((NOT [SOBAN] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[BANAN]  WITH CHECK ADD CHECK  (([TRANGTHAI]=N'Unavailable' OR [TRANGTHAI]=N'In use' OR [TRANGTHAI]=N'Reserved' OR [TRANGTHAI]=N'Available'))
GO
ALTER TABLE [dbo].[CHINHANH]  WITH CHECK ADD CHECK  (([KHUVUC]=N'Can Gio District' OR [KHUVUC]=N'Nha Be District' OR [KHUVUC]=N'Hoc Mon District' OR [KHUVUC]=N'Cu Chi District' OR [KHUVUC]=N'Binh Chanh District' OR [KHUVUC]=N'Binh Tan District' OR [KHUVUC]=N'Tan Phu District' OR [KHUVUC]=N'Tan Binh District' OR [KHUVUC]=N'Binh Thanh District' OR [KHUVUC]=N'Phu Nhuan District' OR [KHUVUC]=N'Go Vap District' OR [KHUVUC]=N'District 12' OR [KHUVUC]=N'District 11' OR [KHUVUC]=N'District 10' OR [KHUVUC]=N'District 9' OR [KHUVUC]=N'District 8' OR [KHUVUC]=N'District 7' OR [KHUVUC]=N'District 6' OR [KHUVUC]=N'District 5' OR [KHUVUC]=N'District 4' OR [KHUVUC]=N'District 3' OR [KHUVUC]=N'District 2' OR [KHUVUC]=N'District 1'))
GO
ALTER TABLE [dbo].[CHITIETKHACHHANG]  WITH CHECK ADD CHECK  (([DIEMTICHLUY]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETKHACHHANG]  WITH CHECK ADD CHECK  (([TRANGTHAITAIKHOAN]=N'Inactive' OR [TRANGTHAITAIKHOAN]=N'Deleted' OR [TRANGTHAITAIKHOAN]=N'Active'))
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD CHECK  (([DIEMKHONGGIAN]>=(1) AND [DIEMKHONGGIAN]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD CHECK  (([DIEMPHUCVU]>=(1) AND [DIEMPHUCVU]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD CHECK  (([DIEMVITRICHINHANH]>=(1) AND [DIEMVITRICHINHANH]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIAMONAN]  WITH CHECK ADD CHECK  (([DIEMCHATLUONGMONAN]>=(1) AND [DIEMCHATLUONGMONAN]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIAMONAN]  WITH CHECK ADD CHECK  (([DIEMGIACA]>=(1) AND [DIEMGIACA]<=(5)))
GO
ALTER TABLE [dbo].[DATHANGTRUCTUYEN]  WITH CHECK ADD CHECK  (([TRANGTHAIGIAO]=N'Cancelled' OR [TRANGTHAIGIAO]=N'Delivered' OR [TRANGTHAIGIAO]=N'Processing'))
GO
ALTER TABLE [dbo].[DONDATMON]  WITH CHECK ADD  CONSTRAINT [CK__DONDATMON__LOAID__3D5E1FD2] CHECK  (([LOAIDONDATMON]=N'In-store order' OR [LOAIDONDATMON]=N'Online order'))
GO
ALTER TABLE [dbo].[DONDATMON] CHECK CONSTRAINT [CK__DONDATMON__LOAID__3D5E1FD2]
GO
ALTER TABLE [dbo].[DONDATMON]  WITH CHECK ADD  CONSTRAINT [CK__DONDATMON__TRANG__3C69FB99] CHECK  (([TRANGTHAI]=N'Paid' OR [TRANGTHAI]=N'Successful' OR [TRANGTHAI]=N'Processing' OR [TRANGTHAI]=N'Unconfirmed'))
GO
ALTER TABLE [dbo].[DONDATMON] CHECK CONSTRAINT [CK__DONDATMON__TRANG__3C69FB99]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([PHUONGTHUC]=N'Credit card' OR [PHUONGTHUC]=N'Cash' OR [PHUONGTHUC]=N'Bank transfer'))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([TRANGTHAI]=N'Cancelled' OR [TRANGTHAI]=N'Paid' OR [TRANGTHAI]=N'Unpaid'))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  ((NOT [CCCD] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD CHECK  (([loaikhuyenmai]=N'Customer' OR [loaikhuyenmai]=N'Membership card'))
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD CHECK  (([TRANGTHAIPHUCVU]=N'Discontinued' OR [TRANGTHAIPHUCVU]=N'Out of stock' OR [TRANGTHAIPHUCVU]=N'Available'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]='FEMALE' OR [GIOITINH]='MALE'))
GO
ALTER TABLE [dbo].[THETHANHVIEN]  WITH CHECK ADD CHECK  (([LOAITHE]=N'Gold' OR [LOAITHE]=N'Silver' OR [LOAITHE]=N'Membership'))
GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatHangThe]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Truy vấn B: Kiểm tra và cập nhật hạng thẻ 
CREATE PROCEDURE [dbo].[SP_CapNhatHangThe]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MAKHACHHANG CHAR(10);
    DECLARE @MATHE CHAR(10);
    DECLARE @DIEMTICHLUY INT;
    DECLARE @LOAITHE NVARCHAR(50);
    DECLARE @NGAYNANGHANG DATE;
    DECLARE @DIEMTRONGNAM INT;

    -- Cursor to iterate through all customers whose last upgrade/downgrade is exactly 1 year ago
    DECLARE CardCursor CURSOR FOR
    SELECT C.MAKHACHHANG, C.MATHE, C.DIEMTICHLUY, T.LOAITHE, C.NGAYNANGHANG
    FROM CHITIETKHACHHANG C
    JOIN THETHANHVIEN T ON C.MATHE = T.MATHE
    WHERE DATEDIFF(DAY, NGAYNANGHANG, GETDATE()) >= 365;

    OPEN CardCursor;
    FETCH NEXT FROM CardCursor INTO @MAKHACHHANG, @MATHE, @DIEMTICHLUY, @LOAITHE, @NGAYNANGHANG;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Reset @DIEMTRONGNAM each iteration
        SET @DIEMTRONGNAM = @DIEMTICHLUY;

        -- Logic to process Membership
        IF @MATHE = 'M'
        BEGIN
            IF @DIEMTRONGNAM >= 100
            BEGIN
                -- Upgrade to SILVER
                UPDATE CHITIETKHACHHANG
                SET MATHE = 'S', NGAYNANGHANG = GETDATE(), DIEMTICHLUY = 0
                WHERE MAKHACHHANG = @MAKHACHHANG;

                PRINT N'Khách hàng đã được nâng cấp lên hạng thẻ SILVER.';
            END
        END

        ELSE IF @MATHE = 'S'
        BEGIN
            IF @DIEMTRONGNAM >= 100
            BEGIN
                -- Upgrade to GOLD
                UPDATE CHITIETKHACHHANG
                SET MATHE = 'G', NGAYNANGHANG = GETDATE(), DIEMTICHLUY = 0
                WHERE MAKHACHHANG = @MAKHACHHANG;

                PRINT N'Khách hàng đã được nâng cấp lên hạng thẻ GOLD.';
            END
            ELSE IF @DIEMTRONGNAM < 50
            BEGIN
                -- Downgrade to Membership
                UPDATE CHITIETKHACHHANG
                SET MATHE = 'M', NGAYNANGHANG = GETDATE(), DIEMTICHLUY = 0
                WHERE MAKHACHHANG = @MAKHACHHANG;

                PRINT N'Khách hàng đã bị hạ cấp xuống hạng thẻ MEMBERSHIP.';
            END
            ELSE
            BEGIN
                PRINT N'Khách hàng giữ nguyên hạng thẻ SILVER.';
            END
        END

        ELSE IF @MATHE = 'G'
        BEGIN
            IF @DIEMTRONGNAM < 100
            BEGIN
                -- Downgrade to SILVER
                UPDATE CHITIETKHACHHANG
                SET MATHE = 'S', NGAYNANGHANG = GETDATE(), DIEMTICHLUY = 0
                WHERE MAKHACHHANG = @MAKHACHHANG;

                PRINT N'Khách hàng đã bị hạ cấp xuống hạng thẻ SILVER.';
            END
            ELSE
            BEGIN
                PRINT N'Khách hàng giữ nguyên hạng thẻ GOLD.';
            END
        END

        -- Move to the next customer
        FETCH NEXT FROM CardCursor INTO @MAKHACHHANG, @MATHE, @DIEMTICHLUY, @LOAITHE, @NGAYNANGHANG;
    END;

    CLOSE CardCursor;
    DEALLOCATE CardCursor;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_DONDATMON_HOADON_THEONGAY]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Truy vấn C: Thống kê danh sách các đơn hàng và hóa đơn theo ngày đặt cụ thể
CREATE PROCEDURE [dbo].[SP_DS_DONDATMON_HOADON_THEONGAY]
    @ngaydat DATE -- Tham số đầu vào để lọc theo ngày đặt
AS
BEGIN
    SELECT 
        DD.MADON AS MaDonHang,
        DD.GIODAT AS GioDatHang,
        KH.HOTEN AS TenKhachHang,
        KH.SDT AS SoDienThoai,
        HD.MAHOADON AS MaHoaDon,
        HD.TONGTIENSAUKM AS ThanhTien,
        HD.TRANGTHAI AS TrangThaiHoaDon,
        CASE 
            WHEN DHTT.MADHTRUCTUYEN IS NOT NULL THEN N'Online order'
            WHEN DHTC.MADHTAICHO IS NOT NULL THEN N'In-store order'
        END AS LoaiDonHang,
        -- Chỉ hiển thị thông tin giao hàng trực tuyến nếu là đặt hàng trực tuyến
        CASE 
            WHEN DHTT.MADHTRUCTUYEN IS NOT NULL THEN DHTT.THOIGIANGIAO 
            ELSE NULL 
        END AS ThoiGianGiaoHang,
        CASE 
            WHEN DHTT.MADHTRUCTUYEN IS NOT NULL THEN DHTT.DIACHIGIAO 
            ELSE NULL 
        END AS DiaChiGiaoHang,
        -- Chỉ hiển thị thông tin tại chỗ nếu là đặt hàng tại chỗ
        CASE 
            WHEN DHTC.MADHTAICHO IS NOT NULL THEN DHTC.SOBAN 
            ELSE NULL 
        END AS SoBanTaiCho,
        CASE 
            WHEN DHTC.MADHTAICHO IS NOT NULL THEN DHTC.MACHINHANH 
            ELSE NULL 
        END AS ChiNhanhTaiCho
    FROM 
        DONDATMON DD
    LEFT JOIN 
        HOADON HD ON DD.HOADONLIENQUAN = HD.MAHOADON
    LEFT JOIN 
        DATHANGTRUCTUYEN DHTT ON DD.MADON = DHTT.MADHTRUCTUYEN
    LEFT JOIN 
        DATHANGTAICHO DHTC ON DD.MADON = DHTC.MADHTAICHO
    LEFT JOIN 
        KHACHHANG KH ON DD.KHACHHANGDAT = KH.MAKHACHHANG
    WHERE 
        DD.NGAYDAT = @ngaydat 
    ORDER BY 
        DD.GIODAT ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoChiTietMonAn_Mon]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaoChiTietMonAn_Mon]
	@MaCTMon CHAR(10),
	@MaMenu CHAR(10),
	@SoLuong INT,
	@GhiChu NVARCHAR(MAX),
	@MaDonDatMon CHAR(10)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @DonGiaTong FLOAT;

	SELECT @DonGiaTong = M.GIAHIENTAI * @SoLuong
	FROM MENU M
	WHERE M.MAMENU = @MaMenu;

	INSERT INTO CHITIETMONAN (MACTMON, MAMENU, SOLUONG, GHICHU, DONGIATONG, MADONDATMON)
	VALUES (@MaCTMon, @MaMenu, @SoLuong, @GhiChu, @DonGiaTong, @MaDonDatMon)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoComboMonAn]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaoComboMonAn]
    @MaCombo NVARCHAR(50),
    @TenCombo NVARCHAR(100),
    @MoTaCombo NVARCHAR(MAX),
    @DanhSachMon DanhSachMonAn READONLY  -- Bảng tạm chứa danh sách món
AS
BEGIN
    --DECLARE @DonGiaCombo FLOAT;

    --SELECT @DonGiaCombo = SUM(MA.GIAHIENTAI * DM.SOLUONG) * (1 - @PhanTramGiamGia)
    --FROM @DanhSachMon DM
    --JOIN MONAN MA ON DM.MaMon = MA.MAMON;

    INSERT INTO COMBOMONAN (MACOMBO, TENCOMBO, MOTACOMBO)
    VALUES (@MaCombo, @TenCombo, @MoTaCombo);

    INSERT INTO MONAN_COMBOMONAN (MACOMBO, MAMON, SOLUONG)
    SELECT @MaCombo, MaMon, SoLuong
    FROM @DanhSachMon;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoMonAn]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaoMonAn]
	@MaMon CHAR(10),
	@TenMon NVARCHAR(50),
	@DanhMuc NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO MONAN (MAMON, TENMON, DANHMUC)
	VALUES (@MaMon, @TenMon, @DanhMuc)
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoVaCapThe]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT 'DROP PROCEDURE' + ' ' + F.NAME + ';' FROM SYS.objects AS F where type='P'


-- Truy vấn A: Cấp và cập nhật thông tin thẻ cho khách hàng 
CREATE PROCEDURE [dbo].[SP_TaoVaCapThe]
(
    @MAKHACHHANG CHAR(10),           -- Mã khách hàng
    @HOTEN NVARCHAR(50),             -- Họ tên khách hàng
    @SDT CHAR(10),                   -- Số điện thoại
    @EMAIL VARCHAR(50),              -- Email khách hàng
    @CCCD VARCHAR(20),               -- CCCD khách hàng
    @NHANVIENTAOLAP CHAR(10)         -- Nhân viên tạo lập thẻ
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem khách hàng đã tồn tại trong bảng KHACHHANG hay chưa
    IF NOT EXISTS (SELECT 1 FROM KHACHHANG WHERE MAKHACHHANG = @MAKHACHHANG)
    BEGIN
        -- Thêm thông tin khách hàng mới
        INSERT INTO KHACHHANG (MAKHACHHANG, HOTEN, SDT, EMAIL, CCCD)
        VALUES (@MAKHACHHANG, @HOTEN, @SDT, @EMAIL, @CCCD);

        PRINT N'Khách hàng mới đã được thêm vào hệ thống.';
    END
    ELSE
    BEGIN
        PRINT N'Khách hàng đã tồn tại trong hệ thống.';
    END

    -- Kiểm tra xem thẻ đã tồn tại trong bảng CHITIETKHACHHANG hay chưa
    IF NOT EXISTS (SELECT 1 FROM CHITIETKHACHHANG WHERE MAKHACHHANG = @MAKHACHHANG)
    BEGIN
        -- Cấp thẻ mới với loại thẻ Membership và trạng thái Active
        INSERT INTO CHITIETKHACHHANG (MAKHACHHANG, MATHE, NGAYDK, DIEMTICHLUY, NGAYNANGHANG, TRANGTHAITAIKHOAN, NHANVIENTAOLAP)
        VALUES (@MAKHACHHANG, 'M', GETDATE(), 0, GETDATE(), N'Active', @NHANVIENTAOLAP);

        PRINT N'Thẻ mới (Membership) đã được cấp cho khách hàng.';
    END
    ELSE
    BEGIN
        -- Cập nhật thông tin thẻ nếu khách hàng đã có thẻ
        UPDATE CHITIETKHACHHANG
        SET NGAYDK = GETDATE(),
            TRANGTHAITAIKHOAN = N'Active',
            NHANVIENTAOLAP = @NHANVIENTAOLAP
        WHERE MAKHACHHANG = @MAKHACHHANG;

        PRINT N'Thông tin thẻ của khách hàng đã được cập nhật.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKE_CHATLUONG_MONAN]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Truy vấn F: Thống kê chất lượng món ăn và đánh giá của khách hàng
CREATE PROCEDURE [dbo].[SP_THONGKE_CHATLUONG_MONAN]
    @NGAYBATDAU DATE 
AS
BEGIN
    -- Truy vấn thống kê chất lượng món ăn từ ngày bắt đầu đến ngày hiện tại
    SELECT
        M.TENMON,
        CONVERT(DATE, DD.NGAYDAT) AS NGAY_DG,
        AVG(DGM.DIEMCHATLUONGMONAN) AS DIEMCHATLUONG_TB, 
        AVG(DGM.DIEMGIACA) AS DIEMGIACA_TB, 
        COUNT(DG.MADANHGIA) AS SO_LUONG_DANHGIA 
    FROM
        MONAN M
    JOIN
        DANHGIAMONAN DGM ON M.MAMON = DGM.MAMON
    JOIN
        DANHGIA DG ON DGM.MADANHGIA = DG.MADANHGIA
    JOIN
        DONDATMON DD ON DG.MADON = DD.MADON -- Liên kết với bảng Đơn đặt món để lấy ngày đánh giá
    WHERE
        DD.NGAYDAT >= @NGAYBATDAU 
        AND DD.NGAYDAT <= GETDATE() 
    GROUP BY
        M.TENMON, CONVERT(DATE, DD.NGAYDAT) -- Nhóm theo tên món và ngày đánh giá
    ORDER BY
        NGAY_DG DESC, DIEMCHATLUONG_TB DESC; -- Sắp xếp theo ngày đánh giá và điểm chất lượng món ăn

    PRINT N'Thống kê chất lượng món ăn đã được thực hiện thành công';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThongKe_Top_KhachHang]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Truy vấn J: Thống kê những khách hàng mang lại doanh thu cao nhất trong khoảng thời gian nhất định
CREATE PROCEDURE [dbo].[SP_ThongKe_Top_KhachHang]
    @NgayBatDau DATE,
    @NgayKetThuc DATE,
    @TopBaoNhieu INT
AS
BEGIN
	SET NOCOUNT ON;

	-- Truy vấn để tính tổng doanh thu của mỗi khách hàng
	SELECT TOP (@TopBaoNhieu)
        KH.MaKhachHang,
        KH.HoTen,
        TTV.LoaiThe,
        SUM(HD.TongTienSauKM) AS TongTienTichLuy
    FROM
		KHACHHANG KH
    JOIN
		HOADON HD ON HD.MaKhachHang = KH.MaKhachHang
    JOIN
		CHITIETKHACHHANG CTKH ON CTKH.MaKhachHang = KH.MaKhachHang
    JOIN
		THETHANHVIEN TTV ON CTKH.MaThe = TTV.MaThe
    WHERE
		HD.NgayLap BETWEEN @NgayBatDau AND @NgayKetThuc
    GROUP BY
		KH.MaKhachHang, KH.HoTen, TTV.LoaiThe
    ORDER BY
		TongTienTichLuy DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThongKe_Top_MonAn]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Truy vấn I: Thống kê những món ăn đắt hàng nhất về số lượng trong khoảng thời gian nhất định
-- Bảng sấp theo số lượng món được đặt cao nhất và có cột tổng doanh thu
-- Không tính những món được đặt theo combo
CREATE PROCEDURE [dbo].[SP_ThongKe_Top_MonAn]
    @NgayBatDau DATE,
    @NgayKetThuc DATE,
    @TopBaoNhieu INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Truy vấn để tính tổng số lượng và doanh thu của mỗi món ăn
    SELECT TOP (@TopBaoNhieu)
        MA.MaMon,
        MA.TenMon,
        SUM(CTMA.SOLUONG) AS TongSoLuong,
        SUM(CTMA.DONGIATONG) AS TongDoanhThu
    FROM
        CHITIETMONAN CTMA
    JOIN
		MENU M ON CTMA.MAMENU = M.MAMENU
	JOIN
        MONAN MA ON M.MaMon = MA.MaMon
    JOIN
        DONDATMON DDM ON DDM.MaDon = CTMA.MaDonDatMon
    WHERE
        DDM.NgayDat BETWEEN @NgayBatDau AND @NgayKetThuc
    GROUP BY
        MA.MaMon, MA.TenMon
    ORDER BY
        TongSoLuong DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKE_XUHUONG_KHACHHANG]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Truy vấn D: Danh sách theo dõi xu hướng của các khách hàng khi lựa chọn loại đặt hàng tại một chi nhánh trong một khoảng thời gian
CREATE PROCEDURE [dbo].[SP_THONGKE_XUHUONG_KHACHHANG]
    @ngayBatDau DATE,
    @ngayKetThuc DATE,
    @maChiNhanh CHAR(10)
AS
BEGIN
    SELECT 
        KH.MAKHACHHANG,
        KH.HOTEN,
        KH.SDT,
        DH.MACHINHANH,
        COUNT(DH.MADHTAICHO) AS SO_LUONG_DH_TAI_CHO,
        COUNT(DT.MADHTRUCTUYEN) AS SO_LUONG_DH_TRUC_TUYEN
    FROM 
        KHACHHANG KH
    LEFT JOIN 
        DONDATMON D ON KH.MAKHACHHANG = D.KHACHHANGDAT
    LEFT JOIN 
        DATHANGTAICHO DH ON D.MADON = DH.MADHTAICHO
    LEFT JOIN 
        DATHANGTRUCTUYEN DT ON D.MADON = DT.MADHTRUCTUYEN
    WHERE 
        D.NGAYDAT BETWEEN @ngayBatDau AND @ngayKetThuc
        AND DH.MACHINHANH = @maChiNhanh 
    GROUP BY 
        KH.MAKHACHHANG,
        KH.HOTEN,
        KH.SDT,
        DH.MACHINHANH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDoanhThu]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Truy vấn H: Thống kê doanh thu của một chi nhánh trong khoảng thời gian
CREATE PROCEDURE [dbo].[sp_ThongKeDoanhThu]
    @MACHI_NHANH CHAR(10),
    @NGAYBATDAU DATE, 
    @NGAYKETTHUC DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM CHINHANH WHERE MACHINHANH = @MACHI_NHANH)
    BEGIN
        RAISERROR('Chi nhánh không tồn tại.', 16, 1);
        RETURN;
    END

    IF @NGAYBATDAU > @NGAYKETTHUC
    BEGIN
        RAISERROR('Ngày bắt đầu không thể lớn hơn ngày kết thúc.', 16, 1);
        RETURN;
    END

    DECLARE @TONGDOANHTHU FLOAT;
    SET @TONGDOANHTHU = (
        SELECT SUM(HOADON.TONGTIENSAUKM)
        FROM HOADON
        WHERE HOADON.MACHINHANH = @MACHI_NHANH
          AND HOADON.TRANGTHAI = N'Paid'
          AND HOADON.NGAYLAP BETWEEN @NGAYBATDAU AND @NGAYKETTHUC
    );

    IF @TONGDOANHTHU IS NULL
    BEGIN
        SET @TONGDOANHTHU = 0;
    END

    SELECT @TONGDOANHTHU AS TONGDOANHTHU;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_TinhVaCapNhatTongTien]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Truy vấn G: Tính toán tổng tiền trước và sau khuyến mãi, sau đó cập nhật theo mã hóa đơn.
CREATE PROCEDURE [dbo].[SP_TinhVaCapNhatTongTien]
    @MAHOADON CHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM HOADON WHERE MAHOADON = @MAHOADON)
    BEGIN
        RAISERROR('Mã hóa đơn không hợp lệ.', 16, 1);
        RETURN; 
    END

    DECLARE @TONGTIENTRUOCKM FLOAT;
    SET @TONGTIENTRUOCKM = (
        SELECT SUM(THANHTIEN)
        FROM DONDATMON
        JOIN HOADON ON DONDATMON.HOADONLIENQUAN = HOADON.MAHOADON
        WHERE DONDATMON.HOADONLIENQUAN = @MAHOADON AND DONDATMON.TRANGTHAI = N'Successful'
    );

	UPDATE HOADON
	SET @TONGTIENTRUOCKM = @TONGTIENTRUOCKM * (1 + VAT)
	WHERE MAHOADON = @MAHOADON

    DECLARE @LUONGKMTIEN FLOAT;
    SET @LUONGKMTIEN = ISNULL((
        SELECT TOP 1 LUONGKMTIEN
        FROM KHUYENMAIKHACHHANG
        WHERE KHUYENMAIKHACHHANG.MAKHACHHANG = (SELECT MAKHACHHANG FROM HOADON WHERE MAHOADON = @MAHOADON)
          AND TRANGTHAIDUNG = 1
          AND GETDATE() BETWEEN NGAYBATDAU AND NGAYKETTHUC
          AND @TONGTIENTRUOCKM >= GIATRITOITHIEU
        ORDER BY LUONGKMTIEN DESC
    ), 0);

    DECLARE @LUONGKMPHANTRAM FLOAT;
    SET @LUONGKMPHANTRAM = ISNULL((
        SELECT TOP 1 LUONGKMPHANTRAM
        FROM KHUYENMAITHETHANHVIEN
        WHERE MATHE = (SELECT MATHE 
                       FROM CHITIETKHACHHANG
                       WHERE MAKHACHHANG = (SELECT MAKHACHHANG FROM HOADON WHERE MAHOADON = @MAHOADON))
    ), 0);

    DECLARE @TONGTIENSAUKM FLOAT;
    SET @TONGTIENSAUKM = (@TONGTIENTRUOCKM - @LUONGKMTIEN) * (1 - @LUONGKMPHANTRAM);

    UPDATE HOADON
    SET TONGTIENTRUOCKM = @TONGTIENTRUOCKM,
        TONGTIENSAUKM = @TONGTIENSAUKM
    WHERE MAHOADON = @MAHOADON;

	UPDATE DONDATMON
	SET TRANGTHAI = N'Paid'
	WHERE HOADONLIENQUAN = @MAHOADON
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_XemDanhSachDanhGiaNhanVien]    Script Date: 2024/12/29 15:10:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Truy vấn E: Xem danh sách nhân viên và đánh giá tương ứng với mỗi nhân viên đó
CREATE PROCEDURE [dbo].[SP_XemDanhSachDanhGiaNhanVien]
AS
BEGIN
    -- Hiển thị danh sách nhân viên kèm theo thông tin đánh giá
    SELECT 
        NV.MANHANVIEN AS MaNhanVien,
        NV.HOTEN AS HoTen,
        NV.CHINHANHLAMVIEC AS MaChiNhanh,
        CN.TENCHINHANH AS TenChiNhanh,
        ISNULL(AVG(DG.DIEMPHUCVU), 0) AS DiemPhucVuTB,
        ISNULL(AVG(DG.DIEMVITRICHINHANH), 0) AS DiemViTriChiNhanhTB,
        ISNULL(AVG(DG.DIEMKHONGGIAN), 0) AS DiemKhongGianTB,
        COUNT(DG.MADANHGIA) AS SoLuotDanhGia,
        STRING_AGG(DG.BINHLUAN, '; ') AS BinhLuan
    FROM 
        NHANVIEN NV
    LEFT JOIN 
        DANHGIA DG ON NV.MANHANVIEN = DG.NHANVIEN
    LEFT JOIN 
        CHINHANH CN ON NV.CHINHANHLAMVIEC = CN.MACHINHANH
    GROUP BY 
        NV.MANHANVIEN, NV.HOTEN, NV.CHINHANHLAMVIEC, CN.TENCHINHANH
    ORDER BY 
        NV.MANHANVIEN;
END;
GO
USE [master]
GO
