<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body class="body">
    <div class="container">
        <!-- Form đăng nhập -->
        <form class="form" method="post" onsubmit="handleResetPassword(event)">
            <div class="logo-container">
                <img src="../public/sushi.png" alt="Logo" class="logo">
                <p class="title">Reset your password!</p>
            </div>

            <div class="input-group">
                <input type="text" id="username" name="username" placeholder="*Username" required>
            </div>
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="*email" required>
            </div>

            <button type="submit" id="submitButton" disabled>Sign in</button>

            <a href="#" class="link">Forget password</a>

            <div class="divider">
                <span>Or</span>
            </div>

            <a href="#" class="secondary-button">Sign up</a>
        </form>
    </div>

    <script>
        const emailInput = document.getElementById('email');

        async function handleResetPassword(event) {
            event.preventDefault();

            const email = emailInput.value;
            try {
                const response = await fetch('http://localhost:3000/resetpassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        email: email
                    })
                });

                const data = await response.json();
                if (response.ok) {
                    alert("Reset email sent! Please check your inbox.");
                } else {
                    alert(`Error: ${data.message}`);
                }
            } catch (error) {
                alert("There are no accounts registered with this email.");
                console.error(error);
            }
        }
    </script>
</body>

</html>
