<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../public/styles.css">
    
</head>

<body class="body">
    <div class="container">
        <!-- Form đăng nhập -->
        <form class="form" method="post" onsubmit="handleResetPassword(event)">
            <div class="logo-container">
                <img src="../public/sushi.png" alt="Logo" class="logo">
                <p class="title">Reset your password!</p>
            </div>

            <div class="input-group">
                <input type="password" id="new-password" name="new-password" placeholder="New password" required>
            </div>

            <div class="input-group">
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Re-enter new password" required>
            </div>

            <button type="submit" id="submitButton" disabled>Reset password</button>
        </form>
    </div>

    <script>
        const passwordInput = document.getElementById('new-password');
        const repasswordInput = document.getElementById('confirm-password');

        passwordInput.addEventListener('input', toggleSubmitButton);
        repasswordInput.addEventListener('input', toggleSubmitButton);

        function toggleSubmitButton() {
            submitButton.disabled = !(passwordInput.value && repasswordInput.value);
        }
    </script>
</body>

</html>
