<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/home.css">
</head>

<body class="body">
    <div class="home_main-homepage">
        <div class="home_main-homepage-transparent"></div>
        <div class="home_main-homepage-background">
            <div id="background-slider">
                <figure>
                    <img
                        src="https://images.unsplash.com/photo-1607301404882-06d3c9778bac?q=80&w=2091&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img
                        src="https://images.unsplash.com/photo-1648146299011-2322d7ad577c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img
                        src="https://images.unsplash.com/photo-1512132411229-c30391241dd8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img
                        src="https://images.unsplash.com/photo-1514190051997-0f6f39ca5cde?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img
                        src="https://images.unsplash.com/photo-1617196035154-1e7e6e28b0db?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                </figure>
            </div>
        </div>
        <div class="home_main-homepage-left">
            <div class="home_main-homepage-top">
                <div class="home_main-homepage-title">
                    <span class="large-title-white">TOKYO</span><span class="large-title-deli">DELI</span>
                </div>
                <div class="home_main-homepage-description">
                    Life is short. Eat sushi first.
                </div>
            </div>
            <div class="home_main-homepage-bottom">
                <!-- Conditional rendering based on whether the user is logged in -->
                {{#if name}}
                <div class="home_main-homepage-description-two">Welcome back, {{name}}!</div>
                <a href="/logout" class="button-transparent">LOGOUT</a>
                {{else}}
                <div class="home_main-homepage-description-two">
                    Already a customer?
                </div>
                <div class="home_main-homepage-buttons">
                    <a href="/login" class="button-transparent">
                        <div>
                            LOG IN NOW!
                        </div>
                    </a>
                    <div class="home_main-homepage-description-two">
                        OR
                    </div>
                    <a href="/signup" class="button-whitetransparent">
                        <div>
                            SIGN UP NOW!
                        </div>
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="home__main-homepage-right">
            <img src="../public/sushiwhite.png" alt="Sushi Illustration" />
        </div>
    </div>

    <div class="home_introduction">
        <div class="home_introduction-left">
            <img class="home_introduction-big-logo"
                src="../public/sushiwhite.png"
                alt="Sushi Logo" />
        </div>
        <div class="home_introduction-right">
            <div class="section-title-text-white">
                TOKYODELI IS HERE!
            </div>
            <div class="paragraph-text-center-white">
                Experience the authentic taste of Japan, where every roll tells a story. Welcome to
                <strong>TOKYODELI</strong>, where tradition meets innovation in every bite.
            </div>
            <a href="/about" class="button-whitered">
                ABOUT US
            </a>
        </div>
    </div>

    <div class="home_menu-photos">
        <div class="section-title-text-gray">
            A WIDE VARIETY OF CHOICES.
        </div>
        <div id="slider" class="home_menu-photos-carousel">
            <figure>
                <img
                    src="https://images.unsplash.com/photo-1617196034738-26c5f7c977ce?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img
                    src="https://images.unsplash.com/photo-1540648639573-8c848de23f0a?q=80&w=2156&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img
                    src="https://images.unsplash.com/photo-1635526910370-6881e1756fee?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img
                    src="https://images.unsplash.com/photo-1611143669185-af224c5e3252?q=80&w=2064&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img
                    src="https://images.unsplash.com/photo-1607246749173-7e1b6d9b25ba?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </figure>
        </div>
    </div>

    <div class="home_book-table">
        <div class="home_book-table-transparent"></div>
        <div class="home_book-table-text">
            <div class="section-title-text-white">
                BOOK A TABLE?
            </div>
            <div class="paragraph-text-center-white">
                Experience the art of sushi like never before, and savor the authentic flavors of Japan, crafted fresh
                just for you. Reserve your table now and let the journey begin!
            </div>
        </div>

        <a href="/booking" class="button-transparent">
            BOOK A TABLE
        </a>
    </div>

</body>

</html>