<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

    <link rel="stylesheet" href="/home.css">
</head>

<body class="body">
    <div class="home_main-homepage">
        <div class="home_main-homepage-left">
            <div class="home_main-homepage-top">
                <div class="home_main-homepage-title">
                    <span class="home_main-homepage-title-tokyo">TOKYO</span><span class="home_main-homepage-title-deli">DELI</span>
                </div>
                <div class="home_main-homepage-description">
                    Life is short. Eat sushi first.
                </div>   
            </div>
            <div class="home_main-homepage-bottom">
                <div class="home_main-homepage-description-two">
                    Already a customer?
                </div> 
                <div class="home_main-homepage-buttons">
                    <div class="home_main-homepage-login">
                        LOG IN NOW!
                    </div>
                    <div class="home_main-homepage-description-two">
                        OR
                    </div> 
                    <div class="home_main-homepage-signup">
                        SIGN UP NOW!
                    </div>
                </div>
            </div>
        </div>
        <div class="home__main-homepage-right">
            <img src="https://img.freepik.com/free-vector/delicious-sushi-vector-illustration_1308-176195.jpg?t=st=1735483027~exp=1735486627~hmac=f99220b45444aa35afa297d9324fb4fb4c6a3451ead9f51b9c2a0c1a1e9ea940&w=900"/>
        </div>

    </div>
</body>

<!--
 <div class="container">
        {{#if name}}
        <h1>Welcome, {{name}}!</h1>
        <p>You are logged in.</p>
        <a href="/logout" class="logout-btn">Logout</a>
        {{else}}
        <h1>You are not logged in.</h1>
        <p>Please <a href="/login">log in</a> to access your account.</p>
        {{/if}}
</div>
-->

</html>