<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../public/membership.css">
</head>

<body>
    {{> header}} <!-- Include the header -->
    <div class="membership_container">
        <div class="wrap">
            <!-- Tiêu đề -->
            <div class="head-title">
                <h1>Membership</h1>
                <div class="head-title-zone">
                    <ul class="title">
                        <li><a href="#">Policy</a></li>
                        <li class="active"><a href="#">Inquiry</a></li>
                    </ul>
                </div>
            </div>

            <!-- Form -->
            <div class="container">
                <div class="wrap-form">
                    <div class="text">
                        <p class="wrap-form-note">Please log in to access your membership.</p>
                    </div>
                    <div class="form-group">
                        <span class="material-icons">group</span>
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <span class="material-icons">credit_card</span>
                        <input type="text" placeholder="Membership ID">
                    </div>
                    <div class="frm-btnwrap">
                        <div class="frm-btn">
                            <input type="submit" value="Tìm kiếm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>