body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}

.wrapper .page-title {
    text-align: center;
}

.page-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.form-container {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="date"],
.form-group input[type="time"] {
    max-width: 48%;
    display: inline-block;
}

.form-group input[type="time"] {
    float: right;
}
/* ghi chú */
.form-group textarea {
    resize: none;
    height: 100px;
}

.branch-container {
    display: flex;
    gap: 10px; 
}

.branch-container select {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    padding: 14px;
    background-color: #EA252C;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #a50000;
}

.image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}