.wrapper {
    padding: 50px;
}

.wrapper .page-title {
    text-align: center;
}
.wrapper .page-title-dish {
    text-align: center;
}
.page-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #353535;
}
.page-title-dish {
    font-size: 45px;
    font-weight: bold;
    color: #353535;
}

.booking_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
}

.form-container {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 8px;
    min-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="date"],
.form-group input[type="time"] {
    max-width: 48%;
    display: inline-block;
}

.form-group input[type="time"] {
    float: right;
}
/* ghi chú */
.form-group textarea {
    resize: none;
    height: 100px;
}

.branch-container {
    display: flex;
    gap: 10px; 
}

.branch-container select {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    padding: 14px;
    background-color: #EA252C;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.submit-btn:hover {
    background-color: #ffffff;
    color: #EA252C;
    border-color: #EA252C;
}

.submit-btn:active {
    background-color: #EA252C;
    color: #ffffff;
    border-color: #ffffff;
}

.image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container-note {
    margin-bottom: 20px;
    font-style: italic;
}

.member-submit-btn:hover {
    background-color: #ffffff;
    color: #EA252C;
    border-color: #EA252C;
}

.member-submit-btn:active {
    background-color: #EA252C;
    color: #ffffff;
    border-color: #ffffff;
}

.member-submit-btn {
    width: 100%;
    padding: 14px;
    background-color: #EA252C;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    margin-top: 20px;
}