/* MAIN SCREEN TOKYODELI */

.home_main-homepage {
    padding: 100px 80px 115px 80px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.home_main-homepage-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.home_main-homepage-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.home_main-homepage-title {}

.home_main-homepage-description {
    color: #353535;
    font-size: 30px;
}

.home_main-homepage-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.home_main-homepage-description-two {
    color: #353535;
    font-size: 25px;
    font-weight: 700;
}

.home__main-homepage-right {
    height: 400px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.home__main-homepage-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home_main-homepage-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* INTRODUCTION TOKYODELI */

.home_introduction {
    padding: 100px 140px 100px 140px;
    display: flex;
    justify-content: space-between;
    gap: 140px;
    align-items: center;
    background-color: #EA252C;
}

.home_introduction-left {
    
}

.home_introduction-big-logo {
    width: 400px;
    border-radius: 200px;
}

.home_introduction-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}


/* PHOTO SLIDER */
.home_menu-photos {
    padding: 120px 80px 120px 80px;
}

.home_menu-photos-carousel {
    margin-top: 50px;
}

#slider {
    overflow: hidden;
}

#slider figure {
    width: 500%;
    margin: 0;
    position: relative;
    left: 0;
    animation: slider 25s infinite;
    height: 65vh;
}

#slider figure img {
    float: left;
    width: 20%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slider {
    0%, 20% {
        left: 0; /* Show the 1st picture */
    }
    25%, 40% {
        left: -100%; /* Show the 2nd picture */
    }
    45%, 60% {
        left: -200%; /* Show the 3rd picture */
    }
    65%, 80% {
        left: -300%; /* Show the 4th picture */
    }
    85%, 95% {
        left: -400%; /* Show the 5th picture */
    }
    100% {
        left: 0;
    }
}

/* BOOK A TABLE */

.home_book-table {
    padding: 100px 200px 180px 200px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    display: flex;
    align-items: center;
}

.home_book-table-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}