* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.authen-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    padding: 20px 80px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

footer {
    left: 0;
    bottom: 0;
    background-color: #EA252C;
    color: #ffffff;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
    width: 100%;
}

/* Authentication */
.container {
    position: relative;
    margin: auto;
    width: 400px;
    max-width: 800px; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Logo Section */
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

/* Input Fields */
.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Buttons */

.login-signup-button {
    width: 100%;
    padding: 10px;
    background-color: #EA252C;
    border-style: solid;
    color: #ffffff;
    border-width: 1px;
    border-color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    z-index: 2;
}

.login-signup-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.login-signup-button:hover:not(:disabled) {
    background-color: #ffffff;
    border-color: #EA252C;
    color: #EA252C;
}

.login-signup-button:active:not(:disabled) {
    background-color: #EA252C;
    border-color: #ffffff;
    color: #ffffff;
}

.secondary-button {
    display: block;
    text-align: center;
    background-color: #353535;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #353535;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    z-index: 2;
}

.secondary-button:hover {
    background-color: #ffffff;
    border-color: #353535;
    color: #353535;
}

.secondary-button:active {
    background-color: #353535;
    border-color: #ffffff;
    color: #ffffff;
}

.button-red {
    width: 250px;
    height: 70px;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: #EA252C;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    text-decoration: none;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    z-index: 2;
}

.button-red:hover {
    border-color: #EA252C;
    background-color: white;
    color: #EA252C;
}

.button-red:active {
    border-color: white;
    background-color: #EA252C;
    color: white;
}

.button-whitered {
    width: 250px;
    height: 70px;
    border-color: #EA252C;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EA252C;
    font-weight: 700;
    text-decoration: none;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    z-index: 2;
}

.button-whitered:hover {
    border-color: white;
    background-color: #EA252C;
    color: white;
}

.button-whitered:active {
    border-color: #EA252C;
    background-color: white;
    color: #EA252C;
}

.button-gray {
    width: 250px;
    height: 70px;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: #353535;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    z-index: 2;
}

.button-gray:hover {
    border-color: #353535;
    background-color: #ffffff;
    color: #353535;
}

.button-gray:active {
    border-color: #ffffff;
    background-color: #353535;
    color: #ffffff;
}

.button-whitegray {
    width: 250px;
    height: 70px;
    border-color: #353535;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #353535;
    font-weight: 700;
    text-decoration: none;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    z-index: 2;
}

.button-whitegray:hover {
    border-color: white;
    background-color: #353535;
    color: white;
}

.button-whitegray:active {
    border-color: #353535;
    background-color: white;
    color: #353535;
}

.button-transparent {
    width: 250px;
    height: 70px;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    z-index: 2;
}

.button-transparent:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #353535;
}

.button-transparent:active {
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
}


/* Links */
.link {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

.link:hover {
    text-decoration: underline;
}

/* Đảm bảo divider hiển thị đẹp */
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: #666;
    font-size: 14px;
}

.divider span {
    background: #fff; 
    padding: 0 10px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd; 
    margin: 0 10px;
}

/* Text */

.logo-text-tokyo {
    color: #353535;
    font-size: 25px;
    font-weight: light;
    text-decoration: none;
    z-index: 2;
}

.logo-text-deli {
    color: #EA252C;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    z-index: 2;
}

.logo-text-white {
    color: #ffffff;
    font-size: 25px;
    font-weight: light;
    text-decoration: none;
    z-index: 2;
}

.large-title-tokyo {
    color: #353535;
    font-size: 100px;
    font-weight: light;
    text-decoration: none;
    z-index: 2;
}

.large-title-deli {
    color: #EA252C;
    font-size: 100px;
    text-decoration: none;
    font-weight: bold;
    z-index: 2;
}

.large-title-white {
    color: #ffffff;
    font-size: 100px;
    text-decoration: none;
    font-weight: bold;
    z-index: 2;
}

.medium-title-tokyo {
    color: #353535;
    font-size: 50px;
    font-weight: light;
    text-decoration: none;
    z-index: 2;
}

.medium-title-deli {
    color: #EA252C;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    z-index: 2;
}

.medium-title-white {
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    z-index: 2;
}

.section-title-text-red {
    color: #EA252C;
    font-size: 50px;
    font-weight: 700;
    z-index: 2;
}

.section-title-text-gray {
    color: #353535;
    font-size: 50px;
    font-weight: 700;
    z-index: 2;
}

.section-title-text-white {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    z-index: 2;
}

.paragraph-text-left-gray {
    font-size: 20px;
    color: #353535;
    z-index: 2;
}

.paragraph-text-center-gray {
    font-size: 25px;
    text-align: center;
    color: #353535;
    z-index: 2;
}

.paragraph-text-left-white {
    font-size: 20px;
    color: #ffffff;
    z-index: 2;
}

.paragraph-text-center-white {
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
}