<!DOCTYPE html>
<html lang="vi">

<header>
    <nav class="header_container">
        <div class="header_left">
            <img class="logo"
                src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t39.30808-6/448201804_845814457576232_3022944095576243187_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=kj0IUBtdNS4Q7kNvgHcLg8y&_nc_oc=Adi9JRyTbz1sXiIeTsNbFImYb-RIlvu33nwwak5ESn9lIXCUxJ36ocknALOSN8YEYW7o9bADeam6F_udEpGWojym&_nc_zt=23&_nc_ht=scontent.fsgn2-3.fna&_nc_gid=ADFrxNedtgJ7_KHknC2zN3F&oh=00_AYDQtxwv4jkBIhyFHp0Er-TjMk8asdV5aW36_1T0wI5sLg&oe=67773453"
                alt="Sushi Logo"/>
            <div>
                <a class="header_left-text" href="/">
                    <span class="logo-text-tokyo">TOKYO</span><span class="logo-text-deli">DELI</span>
                </a>
            </div>
        </div>
        <ul class="nav-links">
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/menu">MENU</a>
            <a href="/promotion">PROMOTION</a>
            <a href="/membership">MEMBERSHIP</a>
            <a href="/booking">BOOKING</a>
            <a href="/stores">STORES</a>
            <a href="/recruitment">RECRUITMENT</a>
            <a href="/contact">CONTACT</a>
            <a href="/cart">
                <button class="cart-button">
                    <img src="https://img.icons8.com/ios-filled/50/000000/shopping-cart.png" alt="Cart Icon">
                </button>
            </a>
            <!-- Added Order button here -->
            <a href="/order">
                <button class="order-button">
                    <img src="https://icons.veryicon.com/png/o/business/cloud-shop-sales-management-end-sales-user/order-receiving.png"
                        alt="Order Icon">
                </button>
            </a>
        </ul>
    </nav>
</header>

<style>

    .header_left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
    }

    .header_left-text {
        text-decoration: none;
    }

    .logo {
        width: 80px;
        height: 40px;
        overflow: hidden;
        position: relative;
        object-fit: cover;
    }

    .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .nav-links {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        font-weight: 400;
        font-size: 15px;
    }

    .nav-links a {
        color: #353535;
        text-decoration: none;
        transition: font-weight 0.5s, color 0.5s;
        justify-content: center;
        display: flex;
        flex-direction: column;;
    }

    .nav-links a:hover {
        color: #EA252C;
        font-weight: 700;
    }

    .nav-links a:active {
        color: #bf0006;
        font-weight: 700;
    }

    .nav-links li {
    }

    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cart-button,
    .order-button {
        background-color: white;
        border: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        transition: background-color 0.5s;
        border-radius: 25px;
    }

    .cart-button img,
    .order-button img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .cart-button:hover,
    .order-button:hover {
        background-color: #EA252C;
    }

    .cart-button:hover,
    .order-button:hover {
        background-color: #bf0006;
    }
</style>

</html>